include README.rst LICENSE AUTHORS.rst CHANGELOG pyproject.toml
recursive-include tests *
include backtrader_influxdb/py.typed
recursive-include backtrader_influxdb *.pyi
global-exclude __pycache__
global-exclude *.py[co]